<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*Aaf_dhLVmGSB0l1zM_09PQ.png"
      alt=""
    >
  </div>
  <div class="big-card__title">
    <h2><a href="#">Saiu a nova versão do Angular</a></h2>
  </div>
  <div class="big-card__description">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit error repellat quisquam aperiam impedit qui iste harum. Maiores odio quaerat repellendus, autem tempore eaque voluptas, consequuntur cupiditate soluta quisquam unde!
    </p>
  </div>
</div>
