<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card cardTitle="Saiu a nova versão do Angular"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      imageCover="https://miro.medium.com/v2/resize:fit:1400/1*R1mfXLP9edcArZXwmGbGag.jpeg"
      titleCard="Saiu a nova versão do Angular Js"
    ></app-small-card>
    <app-small-card
      imageCover="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/06/VUE.png"
      titleCard="Saiu a nova versão do Vue Js"
    ></app-small-card>
    <app-small-card
      imageCover="https://legacy.reactjs.org/logo-og.png"
      titleCard="Saiu a nova versão do React Js"
    ></app-small-card>
  </div>
</div>